.navbar{
  --bs-bg-opacity: 1;
  background-color: rgb(26, 222, 173) !important;
  color: aliceblue;
}

.btn{
  background-color: aliceblue;
}
.btn1{
  background-color: rgb(15, 141, 225);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
}
.buttons{
  display: flex;
  gap: 20px;
}

.form-control{
  border: 2px solid rgba(0, 0, 0, 0.203);
}
